:root {
    --nav-icon-width: 50px;
    --nav-border-width: 8px;
    --nav-color:#F8f8f8;
    --nav-hover: rgba(252, 252, 252, 0.3);
    --nav-icons: rgb(120,120,120);
    --nav-on:rgb(69,68,216);
    --nav-on-light:rgb(95, 95, 218);
    --nav-color-link:rgba(0, 0, 0, 0.75);
    --nav-border-color:#dddddd;
    --nav-hover-color:#cccccc;
    --nav-color-submit:#ff7c5c;
    --nav-color-white:#fff;
    --var-color-shadow: #c6c6c6;
}

@font-face {
    font-family:'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
}

html,
body {
height: 100%;
margin: 0;
font-family: 'Roboto';
background-color:var(--nav-color-white) ;
}

.flex{
    display: flex;
}

.page-container {
height: inherit;
display: flex;
}

.main {
height: inherit;
padding: 0;
padding-left: var(--nav-border-width);
overflow-y: auto;
}

.nav {
width: 200px;
height: inherit;
position: relative;
background-color: var(--nav-color);
transition: width 0.2s;
flex-shrink: 0;
display:flex;
flex-direction: column;
flex-wrap: initial;
height: 100%;
}

.nav--collapsed {
width: var(--nav-icon-width);
}

.nav--collapsed .nav__label {
display: none;
}

.nav__link {
display: flex;
align-items: center;
color: var(--nav-color-link);
text-decoration: none;
}

.nav__link:hover {
background-color: var(--nav-hover);
}

.nav__icon-container {
width: var(--nav-icon-width);
height: var(--nav-icon-width);
display: flex;
align-items: center;
justify-content: center;
flex-shrink: 0;
}

.nav__label {
white-space: nowrap;
}

.nav__border {
position: absolute;
left: 100%;
top: 0;
width: var(--nav-border-width);
height: inherit;
background-color: var(--nav-border-color);
transition: background-color 0.2s;
cursor: ew-resize;
}

.nav__border:hover {
background-color: var(--nav-hover-color);
}

i, span {
    color: var(--nav-icons);
}

.nav__link.active .nav__icon-container i,
.nav__link.active .nav__label {
  color: var(--nav-on);
}
        
.main {
    display: flex;
    width : 100%;
}

.main_container {
    width: 70%;

}

.main_block {
    width : 80%;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

.upload_form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: var(--nav-color);
    padding: 10px;
    border-radius: 20px;
    border-color: var(--nav-color);
    width: 700px;
    height: 200px;
    margin-left: 10%;
    margin-top: 15px;
    box-shadow: 5px 10px var(--var-color-shadow);

}

.file_input {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    height: 130px;
    text-align: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--nav-color-submit);
    color: var(--nav-color-white);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 120px;
    margin: auto;
    margin-top: 13px;
    margin-bottom: 0px;
}

.nav_dashboard{
    margin-top: 4px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
  
input[type="file"] {
    padding: 5px;
    font-size: 16px;
}

#fileToUpload::-webkit-file-upload-button, #fileToUpload2::-webkit-file-upload-button {
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--nav-on);
    font-size: 16px;
    font-weight: small;
    color: #fff;
    border: none;
    margin-right: 10px;
}

#fileToUpload::-webkit-file-upload-button:hover, #fileToUpload2::-webkit-file-upload-button:hover {
    background-color: var(--nav-on-light);
}
.table_DB{
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap
}
.dashboard_block1, .dashboard_block2, .dashboard_block3 {
    background-color: var(--nav-color);
    padding: 10px;
    border-radius: 20px;
    border-color: var(--nav-color);
    width: 80%;
    height: 20%;
    margin-left: 40px;
    margin-top: 40px;
    box-shadow: 5px 10px var(--var-color-shadow);

}