
  <script src="/View/Assets/js/sidebar.js"></script>

<div class="page-container">
  <nav class="nav">
    <div class="nav__border"></div>

    <a href="database.php" class="nav__link">
      <div class="nav__icon-container">
        <i class="fa-solid fa-database"></i>
      </div> 
      <span class="nav__label">Database</span>
    </a>

    <a href="dashboard.php" class="nav__link">
      <div class="nav__icon-container">
        <i class="fa-solid fa-house"></i>
      </div>
      <span class="nav__label nav_dashboard">Dashboard</span>
    </a>
    
    <a href="../Controller/logout.php" class="nav__link">
      <div class="nav__icon-container">
        <i class="fa fa-sign-out" ></i>
      </div>
      <span class="nav__label nav_logout">Log out</span>
    </a>
  </nav>
</div>