
<script src="/view/Assets/js/sidebar.js"></script>

<div class="page-container">
  <nav class="nav">
    <div class="nav__border"></div>
    
    <a href="../index.php" class="nav__link">
      <div class="nav__icon-container">
        <i class="fa-solid fa-database"></i>
      </div>
      <span class="nav__label">Database</span>
    </a>

    <a href="View/dashboard.php" class="nav__link">
      <div class="nav__icon-container">
        <i class="fa-solid fa-house"></i>
      </div>
      <span class="nav__label nav_dashboard">Dashboard</span>
    </a>
  </nav>
</div>

